@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-Regular.ttf");
}

:root {
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
  --linear-gradient: linear-gradient(
    0.6turn,
    var(--blue1),
    var(--blue2),
    var(--blue3),
    var(--blue4)
  );
  --linear-gradient-50: linear-gradient(
    0.6turn,
    rgba(143, 229, 228, 0.5),
    rgba(104, 215, 223, 0.5),
    rgba(1, 141, 172, 0.5),
    rgba(0, 106, 136, 0.5)
  );
  --linear-gradient-dark: linear-gradient(0.6turn, var(--blue4), var(--blue5));
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arimo;
}

.app {
  background: var(--linear-gradient-50);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.app > *:not(.dropdown-menu) {
  padding-top: 50px;
}

.dropdown-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--linear-gradient-dark);
  text-align: center;
  color: white;
  font-size: 1.5em;
  z-index: 6;
  transition: height 0.25s;
}

.opened {
  height: 100%;
}

.closed {
  height: 50px;
}

.toggle-dropdown {
  position: absolute;
  bottom: 0;
  padding: 1em;
  width: 100%;
}

.toggle-dropdown.closed {
  padding: 0.5em;
  width: 100%;
}

.dropdown-menu .title {
  font-size: 2.25em;
  padding: 0.5em;
  color: rgb(210, 210, 210);
  border-bottom: 2px solid black;
}

.dropdown-menu .item {
  text-align: start;
  font-size: 1.5em;
  margin: 0.75em;
  padding: 0.25em;
  border-radius: 7px;
  color: rgb(200, 200, 200);
  background-color: rgba(128, 128, 128, 0.1);
  pointer-events: all;
}

.dropdown-menu .item:hover {
  color: var(--blue3);
}

.dropdown-menu .user {
  font-size: 2em;
  padding: 0.5em;
  border-top: 2px solid black;
}

.dropdown-items {
  pointer-events: none;
}

.main-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: black;
  overflow: scroll;
}

.main-menu .block-item {
  background: var(--linear-gradient);
  border: 1px solid rgb(24, 22, 22);
  text-align: center;
  /* Flex Item */
  flex-basis: 50%;
  padding: 1.73em;
  /* Flex Container */
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}

.main-menu .block-item:hover {
  opacity: 80%;
}

@media only screen and (max-width: 800px) {
  .main-menu .block-item {
    flex-basis: 100%;
    height: 30%;
  }
}

.main-menu-icon {
  width: 128px;
  height: 128px;
}

.block-item p {
  font-size: 25px;
  padding-top: 0.25em;
  font-weight: 600;
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.main-menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.not-found-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.not-found {
  transform: translateY(10%);
  font-size: 100px;
  padding: 1em;
}

/* Take Picture */
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  display: inline-block;
}

.output {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}

#startbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}
/* Take Picture End */

.reports {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  background: transparent;
  margin: 2em;
  overflow-y: scroll;
}

.reports .report-button {
  width: 500px;
  padding: 1em;
  margin-top: 2em;
  border-radius: 6px;
  border: 2px solid white;
  font-size: 25px;
  background-color: var(--blue5);
  color: whitesmoke;
}

.reports .report-button:hover {
  opacity: 90%;
}
