@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-Regular.ttf");
}

:root {
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
  --linear-gradient: linear-gradient(
    0.6turn,
    var(--blue1),
    var(--blue2),
    var(--blue3),
    var(--blue4)
  );
  --linear-gradient-50: linear-gradient(
    0.6turn,
    rgba(143, 229, 228, 0.5),
    rgba(104, 215, 223, 0.5),
    rgba(1, 141, 172, 0.5),
    rgba(0, 106, 136, 0.5)
  );
  --linear-gradient-dark: linear-gradient(
    0.2turn,
    var(--blue5),
    var(--blue4),
    var(--blue5)
  );
  --linear-gradient-dark-2: linear-gradient(
    0.5turn,
    var(--blue4),
    var(--blue5),
    var(--blue4)
  );
  --radial-gradient: radial-gradient(
    rgba(0, 141, 172, 0.1),
    rgba(100, 106, 136, 0.4)
  );
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arimo;
}

.app {
  position: fixed;
  background: var(--linear-gradient-50);
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

*::-webkit-scrollbar {
  display: none;
}

.spacer {
  height: 50px;
}

.page-title {
  background: linear-gradient(#084879, #0e2c42);
  color: white;
  padding: 0.15em;
  border-radius: 3px;
  font-size: 2.5em;
  margin: 0.25em;
  text-align: center;
}

.main-menu {
  display: flex;
  flex-flow: column nowrap;
}

.main-menu .block-item {
  background: var(--linear-gradient);
  padding: 0.5em 0;
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 100px;
}

.main-menu-icon {
  margin-right: 0.5em;
  width: 64px;
  height: 64px;
}

.block-item p {
  font-size: 25px;
  padding-top: 0.25em;
  padding-right: 0.5em;
  font-weight: 600;
}

.main-menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.not-found-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.not-found {
  transform: translateY(10%);
  font-size: 100px;
  padding: 1em;
}

/* Take Picture */
#video {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#photo {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}

#canvas {
  display: none;
}

.camera {
  width: 340px;
  display: inline-block;
}

.output {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}

#startbutton {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  bottom: 32px;
  background-color: rgba(0, 150, 0, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-shadow: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  color: rgba(255, 255, 255, 1);
}

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}
/* Take Picture End */

.reports {
  max-width: 120ch;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}

.reports-section {
  margin: 1em 0em;
}

.reports-section-title {
  font-weight: 700;
}

.report-button {
  max-width: 250px;
  width: 150px;
  height: 100px;
  margin: 0.25em;
  border-radius: 6px;
  font-size: 1.2em;
  background: rgba(10, 10, 10, 0.25);
  color: whitesmoke;
  border: 2px solid black;
}

.report-button:hover {
  border: 2px solid yellow;
}

.report-options {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: flex-start;
}

.report-option {
  background-color: rgba(128, 128, 128, 0.2);
  margin: 1em 1em;
  padding: 2em;
  border-radius: 10px;
}

.check-with-label:checked + .label-for-check {
  background: var(--blue5);
  color: white;
}

button:disabled {
  border: 1px solid #999999 !important;
  background-color: #cccccc6c !important;
  background: #cccccc6c !important;
  color: #666666 !important;
}

.radio-question input {
  display: none;
}

.radio-question {
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  margin: 1em;
}

.radio-question label {
  background-color: rgba(128, 128, 128, 0.315);
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 6px;
}

.michlol {
  display: block;
  width: 98%;
  overflow: hidden;
  margin: 1em auto;
  border-radius: 5px;
}

.michlol-subheading {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

.michlol .bar {
  position: relative;
  padding: 0.75em;
  width: 100%;
  background: linear-gradient(#db4812, #dd673d);
}

.michlol .bar.closed::after {
  padding-left: 1em;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 0;
  content: "ᐸ";
}

.michlol .bar.opened::after {
  content: "ᐯ";
  padding-left: 1em;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 0;
}

.michlol .bar.complete {
  background: linear-gradient(#1f8b3a, #46815f);
}

.michlol-report {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 4px solid orangered;
  max-height: 0;
  transition: max-height 0.6s ease-out;
}

.michlol-report.complete {
  border-bottom: 4px solid green;
}

.michlol-report.opened {
  max-height: 2000px;
}

.michlol-content-wrapper {
  width: 95%;
  margin: 0.5em;
  background-color: #99999934;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid black;
}

.michlol-questions-btn {
  background: var(--linear-gradient-dark-2);
  padding: 0.75em 0.5em;
  margin: 1em;
  width: 80px;
  color: white;
  border-radius: 6px;
  font-size: 1.1em;
}

.michlol-questions-question {
  margin: 0.25em;
  font-size: 1.2em;
  background: var(--radial-gradient);
  padding: 0.25em;
}

.michlol-questions-numbers {
  margin: 0.25em;
  text-align: center;
  font-size: 1.2em;
  padding: 0.25em;
}

.michlol-questions-nav {
  text-align: center;
}

.michlol-text {
  width: 100%;
  font-size: 1.2em;
}

.michlol-complete-btn {
  display: block;
  background: rgba(25, 175, 25, 0.658);
  padding: 0.75em 0.5em;
  margin: 1em auto;
  color: white;
  border-radius: 6px;
  font-size: 1.1em;
}

.report-complete-btn {
  display: block;
  background: gray;
  padding: 1em 1em;
  border: 2px solid black;
  margin: 1em auto;
  color: white;
  border-radius: 6px;
  font-size: 1.1em;
}

/* Dropdown Menu */

.dropdown-menu {
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--linear-gradient-dark);
  text-align: center;
  color: white;
  font-size: 1.5em;
  z-index: 6;
  transition: height 0.25s;
  height: 50px;
}

.opened {
  height: 100%;
}

.toggle-dropdown {
  position: absolute;
  bottom: 0;
  padding: 0.5em;
  width: 100%;
  border: 2px solid black;
}

.toggle-dropdown.closed {
  padding: 0.5em;
  width: 100%;
}

.dropdown-menu .title {
  font-size: 2.25em;
  padding: 0.5em;
  color: rgb(210, 210, 210);
  border-bottom: 2px solid black;
}

.dropdown-menu .item {
  text-align: start;
  font-size: 1.5em;
  margin: 0.75em;
  padding: 0.25em;
  border-radius: 7px;
  color: rgb(200, 200, 200);
  background-color: rgba(128, 128, 128, 0.1);
  pointer-events: all;
}

.dropdown-menu .item:hover {
  color: var(--blue3);
}

.dropdown-menu .user {
  font-size: 2em;
  padding: 0.5em;
  border-top: 2px solid black;
}

.dropdown-items {
  pointer-events: none;
}

/* Search Results */
.search-results {
  background-color: rgba(128, 128, 128, 0.336);
  margin: 0.5em;
  padding: 0 0.5em 1em 0.5em;
  border-radius: 5px;
}

.search-title {
  text-align: center;
  padding: 0.25em;
  border-radius: 5px;
}

.search-headers {
  background: var(--radial-gradient);
  padding: 0.25em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
}

.search-header {
  display: inline-block;
  width: 50%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em;
}

.search-header:first-child {
  border-left: 1px solid black;
}

.search-item {
  width: 100%;
  background: #e7e7e7b9;
  padding: 0.25em;
  border: 1px solid black;
  text-align: center;
}

.search-item > * {
  display: inline-block;
  width: 50%;
  padding: 0.5em;
}

.search-item:nth-of-type(2n) {
  background: #9e9e9eb9;
}

.search-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
