@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-Regular.ttf");
}

:root {
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arimo;
}

.app {
  height: 100%;
  width: 100%;
}

.menu-flex {
  display: flex;
}

.side-menu {
  position: relative;
  min-width: 300px;
  height: 100vh;
  background-color: rgb(49, 49, 49);
}

.main-menu {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  align-content: flex-start;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: scroll;
}

.main-menu .block-item {
  background: linear-gradient(
    0.6turn,
    var(--blue1),
    var(--blue2),
    var(--blue3),
    var(--blue4)
  );
  text-align: center;
  border: 1px solid rgb(24, 22, 22);
  min-height: 250px;
  height: 50%;
  flex-basis: 33.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

@media only screen and (max-width: 800px) {
  .side-menu {
    min-width: 250px;
  }

  .main-menu .block-item {
    flex-basis: 100%;
    height: 30%;
  }
}

.side-menu .title {
  padding: 0.5em;
  color: rgb(210, 210, 210);
  font-size: 2em;
  border-bottom: 2px solid black;
}

.side-menu .item {
  padding: 0.25em;
  color: rgb(200, 200, 200);
  font-size: 1.75em;
}

.side-menu .user {
  position: absolute;
  bottom: 0px;
  padding: 0.5em;
  border-top: 2px solid black;
  width: 100%;
}

.main-menu-icon {
  width: 128px;
  height: 128px;
}

.block-item p {
  font-size: 25px;
  padding-top: 0.25em;
  font-weight: 600;
}

.container {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}
.main-menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
