@font-face {
  font-family: "Arimo";
  src: url("../fonts/arimo/Arimo-Regular.ttf");
}

:root {
  --blue1: #8fe5e4ff;
  --blue2: #68d7dfff;
  --blue3: #018eacff;
  --blue4: #006a88ff;
  --blue5: #002846ff;
  --blue1opaque: rgba(143, 229, 228, 0.5);
  --blue2opaque: rgba(104, 215, 223, 0.5);
  --blue3opaque: rgba(1, 141, 172, 0.5);
  --blue4opaque: rgba(0, 106, 136, 0.5);
  --blue5opaque: rgba(0, 40, 70, 0.5);
  --radial-gradient: radial-gradient(var(--blue5), var(--blue4), var(--blue2));
}

html,
body,
#root {
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arimo;
}

.app {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  background: rgba(150, 150, 150, 0.2);
}

*::-webkit-scrollbar {
  display: none;
}

.top-bar {
  position: sticky;
  background-color: whitesmoke;
  padding: 0.5em;
  box-shadow: 0px 0px 5px black;
  margin-bottom: 0.5em;
}

.logo {
  position: absolute;
  left: 1em;
}

.icon {
  margin: auto;
  height: 40px;
  object-fit: contain;
}

.page-title {
  background: var(--radial-gradient);
  color: white;
  padding: 0.15em;
  border-radius: 6px;
  font-size: 2.5em;
  margin: 0.25em;
  text-align: center;
  box-shadow: 2px 2px 5px black;
}

.home-screen {
  display: flex;
  flex-flow: row wrap;
}

.home-screen .block-item {
  flex-basis: 100%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  background: url("../../assets/abstract-background.jpg");
  background-size: cover;
  padding: 0.5em 0;
  margin: 0.5em;
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
}

.block-item-icon {
  margin-right: 0.5em;
  width: 50px;
  height: 50px;
}

.block-item p {
  font-size: 25px;
  padding-top: 0.25em;
  padding-right: 0.5em;
  font-weight: 600;
}

.home-screen::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.not-found-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: black;
  color: white;
}

.not-found {
  transform: translateY(10%);
  font-size: 100px;
  padding: 1em;
}

/* Reports */
.reports {
  max-width: 120ch;
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}

.reports-selections {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.reports-selections-btn {
  flex-basis: 45%;
  max-width: 250px;
  height: 100px;
  margin: 0.25em;
  border-radius: 6px;
  font-size: 1.6em;
  font-weight: 700;
  background: url("../../assets/abstract-background2.jpg");
  background-size: cover;
  border: 3px solid black;
}

.reports-selections-btn:hover {
  border: 2px solid yellow;
}

.report-options {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  justify-content: flex-start;
}

.report-option {
  background-color: rgba(128, 128, 128, 0.2);
  margin: 1em 1em;
  padding: 2em;
  border-radius: 10px;
}

.check-with-label:checked + .label-for-check {
  background: var(--blue5);
  color: white;
}

button:disabled {
  border: 1px solid #999999 !important;
  background-color: #cccccc6c !important;
  background: #cccccc6c !important;
  color: #666666 !important;
}

.radio-question input {
  display: none;
}

.radio-question {
  width: 70%;
  min-width: 200px;
  max-width: 500px;
  margin: 1em;
}

.radio-question label {
  background-color: rgba(128, 128, 128, 0.315);
  display: block;
  width: 100%;
  padding: 1em;
  border-radius: 6px;
}

/* Michlol */
.michlol {
  display: block;
  width: 98%;
  overflow: hidden;
  margin: 1em auto;
  border-radius: 5px;
}

.michlol-subheading {
  font-size: 1.5em;
  border-bottom: 1px solid black;
  margin-bottom: 0.5em;
}

.michlol .bar {
  position: relative;
  padding: 0.75em;
  width: 100%;
  background: linear-gradient(#db4812, #dd673d);
}

.michlol .bar.closed::after {
  padding-left: 1em;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 0;
  content: "ᐸ";
}

.michlol .bar.opened::after {
  content: "ᐯ";
  padding-left: 1em;
  font-weight: 700;
  color: white;
  position: absolute;
  left: 0;
}

.michlol .bar.complete {
  background: linear-gradient(#1f8b3a, #46815f);
}

.michlol-contents {
  background-color: whitesmoke;
  border-bottom: 4px solid orangered;
  max-height: 0;
  transition: max-height 0.6s ease-out;
}

.michlol-contents.complete {
  border-bottom: 4px solid green;
}

.michlol-contents.opened {
  max-height: 2000px;
}

.m-question-marker {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  text-align: center;
  margin: 0.2em;
}

.m-question-marker.current {
  background-color: yellow;
}

.m-question-marker.green {
  background-color: green;
}

.m-question-marker.red {
  background-color: red;
}

/* Search Results */
.search-results {
  background-color: rgba(128, 128, 128, 0.336);
  margin: 0.5em;
  padding: 0 0.5em 1em 0.5em;
  border-radius: 5px;
}

.search-title {
  text-align: center;
  padding: 0.25em;
  border-radius: 5px;
}

.search-headers {
  background: var(--radial-gradient);
  padding: 0em 0.25em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid black;
}

.search-header {
  display: inline-block;
  width: 33%;
  font-size: 1.2em;
  font-weight: 600;
  text-align: center;
  padding: 0.5em 0em;
  border-left: 1px solid black;
}

.search-header:last-child {
  border-left: 0px solid black;
}

.search-item {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: #e7e7e7b9;
  padding: 0.25em;
  border: 1px solid black;
  text-align: center;
}

.search-item > * {
  flex-basis: 33.3%;
  padding: 0.5em;
}

.search-item:nth-of-type(2n) {
  background: #9e9e9eb9;
}

.search-item:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.search-inputs {
  display: flex;
  flex-flow: row nowrap;
}

.search-date-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 0.5em;
  padding: 0.5em;
  background: #9696967a;
  border-radius: 5px;
}

.search-date {
  margin-left: 1em;
  margin: 0.5em;
}

.search-date-input {
  font-size: 1.1em;
}

.search-btn {
  display: block;
  margin: auto;
  margin: 0.25em auto;
  padding: 0.25em;
}

.search-item-btn {
  width: 30px;
  margin: 0 auto;
}
